*{
    width: 100%;
    margin: 0 0 0 0;
    background-color: #111114;
    color: #ccc;
  }
  
  .h1-main{
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    width: 95%;
    margin: 10px auto auto auto;
  
    background-color: #1a1a1d;
    border-radius: 10px;
  }
  .h1-main:hover{
    transform: scale(1.05);
  }
  
  .explaination-h1{
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #aaaaaa;
  
    width: 95%;
  }
  
  .explaination-h2{
    position: relative;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    margin-left: auto;
    color: #aaaaaa;
    margin-right: auto;
  
    width: 95%;
  }
  .explaination-h3{
    position: relative;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(194, 0, 0);
  
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .start-btn{
    position: absolute;
    margin-top: auto;
    margin-bottom: 10px;
    left: 0; 
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    height: 5vh;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    background-color: #1b1b1f;
  
    width: 95%;
    transition: 0.4s;
    border-radius: 5px;
  }
  .start-btn:hover{
    transform: scale(1.05);
  }